/* Coolors Exported Palette - https://coolors.co/b7c5cf-a0adb6-617a87-313c44-121b24 */

/* CSS HEX */
--pale-slate: #b7c5cfff;
--cool-steel: #a0adb6ff;
--slate-grey: #617a87ff;
--jet-black: #313c44ff;
--ink-black: #121b24ff;

/* CSS HSL */
--pale-slate: hsla(205, 20%, 76%, 1);
--cool-steel: hsla(205, 13%, 67%, 1);
--slate-grey: hsla(201, 16%, 45%, 1);
--jet-black: hsla(205, 16%, 23%, 1);
--ink-black: hsla(210, 33%, 11%, 1);

/* SCSS HEX */
$pale-slate: #b7c5cfff;
$cool-steel: #a0adb6ff;
$slate-grey: #617a87ff;
$jet-black: #313c44ff;
$ink-black: #121b24ff;

/* SCSS HSL */
$pale-slate: hsla(205, 20%, 76%, 1);
$cool-steel: hsla(205, 13%, 67%, 1);
$slate-grey: hsla(201, 16%, 45%, 1);
$jet-black: hsla(205, 16%, 23%, 1);
$ink-black: hsla(210, 33%, 11%, 1);

/* SCSS RGB */
$pale-slate: rgba(183, 197, 207, 1);
$cool-steel: rgba(160, 173, 182, 1);
$slate-grey: rgba(97, 122, 135, 1);
$jet-black: rgba(49, 60, 68, 1);
$ink-black: rgba(18, 27, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);
$gradient-right: linear-gradient(90deg, #b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);
$gradient-bottom: linear-gradient(180deg, #b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);
$gradient-left: linear-gradient(270deg, #b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);
$gradient-top-right: linear-gradient(45deg, #b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);
$gradient-bottom-right: linear-gradient(135deg, #b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);
$gradient-top-left: linear-gradient(225deg, #b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);
$gradient-bottom-left: linear-gradient(315deg, #b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);
$gradient-radial: radial-gradient(#b7c5cfff, #a0adb6ff, #617a87ff, #313c44ff, #121b24ff);