/* Coolors Exported Palette - https://coolors.co/d5d5df-acc0d0-78818a-33383e-07091a */

/* CSS HEX */
--lavender: #d5d5dfff;
--powder-blue: #acc0d0ff;
--slate-grey: #78818aff;
--gunmetal: #33383eff;
--ink-black: #07091aff;

/* CSS HSL */
--lavender: hsla(240, 14%, 85%, 1);
--powder-blue: hsla(207, 28%, 75%, 1);
--slate-grey: hsla(210, 7%, 51%, 1);
--gunmetal: hsla(213, 10%, 22%, 1);
--ink-black: hsla(234, 58%, 6%, 1);

/* SCSS HEX */
$lavender: #d5d5dfff;
$powder-blue: #acc0d0ff;
$slate-grey: #78818aff;
$gunmetal: #33383eff;
$ink-black: #07091aff;

/* SCSS HSL */
$lavender: hsla(240, 14%, 85%, 1);
$powder-blue: hsla(207, 28%, 75%, 1);
$slate-grey: hsla(210, 7%, 51%, 1);
$gunmetal: hsla(213, 10%, 22%, 1);
$ink-black: hsla(234, 58%, 6%, 1);

/* SCSS RGB */
$lavender: rgba(213, 213, 223, 1);
$powder-blue: rgba(172, 192, 208, 1);
$slate-grey: rgba(120, 129, 138, 1);
$gunmetal: rgba(51, 56, 62, 1);
$ink-black: rgba(7, 9, 26, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);
$gradient-right: linear-gradient(90deg, #d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);
$gradient-bottom: linear-gradient(180deg, #d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);
$gradient-left: linear-gradient(270deg, #d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);
$gradient-top-right: linear-gradient(45deg, #d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);
$gradient-bottom-right: linear-gradient(135deg, #d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);
$gradient-top-left: linear-gradient(225deg, #d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);
$gradient-bottom-left: linear-gradient(315deg, #d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);
$gradient-radial: radial-gradient(#d5d5dfff, #acc0d0ff, #78818aff, #33383eff, #07091aff);