/* Coolors Exported Palette - https://coolors.co/c3c6c8-a8b5b2-747978-323535-0c0e10 */

/* CSS HEX */
--silver: #c3c6c8ff;
--ash-grey: #a8b5b2ff;
--grey: #747978ff;
--gunmetal: #323535ff;
--onyx: #0c0e10ff;

/* CSS HSL */
--silver: hsla(204, 4%, 77%, 1);
--ash-grey: hsla(166, 8%, 68%, 1);
--grey: hsla(168, 2%, 46%, 1);
--gunmetal: hsla(180, 3%, 20%, 1);
--onyx: hsla(210, 14%, 5%, 1);

/* SCSS HEX */
$silver: #c3c6c8ff;
$ash-grey: #a8b5b2ff;
$grey: #747978ff;
$gunmetal: #323535ff;
$onyx: #0c0e10ff;

/* SCSS HSL */
$silver: hsla(204, 4%, 77%, 1);
$ash-grey: hsla(166, 8%, 68%, 1);
$grey: hsla(168, 2%, 46%, 1);
$gunmetal: hsla(180, 3%, 20%, 1);
$onyx: hsla(210, 14%, 5%, 1);

/* SCSS RGB */
$silver: rgba(195, 198, 200, 1);
$ash-grey: rgba(168, 181, 178, 1);
$grey: rgba(116, 121, 120, 1);
$gunmetal: rgba(50, 53, 53, 1);
$onyx: rgba(12, 14, 16, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);
$gradient-right: linear-gradient(90deg, #c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);
$gradient-bottom: linear-gradient(180deg, #c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);
$gradient-left: linear-gradient(270deg, #c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);
$gradient-top-right: linear-gradient(45deg, #c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);
$gradient-bottom-right: linear-gradient(135deg, #c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);
$gradient-top-left: linear-gradient(225deg, #c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);
$gradient-bottom-left: linear-gradient(315deg, #c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);
$gradient-radial: radial-gradient(#c3c6c8ff, #a8b5b2ff, #747978ff, #323535ff, #0c0e10ff);